<div class="col-md-12">
  <div class="lista">
    <table class="table table-hover table-striped">
      <thead>
        <th>Nombre</th>
        <th>Foto</th>
        <th>Locacion</th>
        <th>Categoria</th>
        <th>Descripcion</th>
      </thead>
      <tbody>
        <tr ng-repeat="commerce in commerces">
          <td>
            <p>pizzaria</p>
            <p>{{commerce.name}}</p>
          </td>
          <td>
            <p>piza piza</p>
            <p>{{commerce.photo}}</p>
          </td>
          <td>
            <p>belo orizonte</p>
            <p>{{commerce.location}}</p>
          </td>
          <td>
            <p>pizzeria</p>
            <p>{{commerce.category}}</p>
          </td>
          <td>
            <p>pizzas ricas</p>
            <p>{{ccommerce.description}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
